/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */

@import 'base/epiceditor';  
@import 'preview/bartik';  
@import 'preview/github';  
@import 'preview/preview-dark';  
@import 'editor/epic-dark';  
@import 'editor/epic-light';  


 body{
 	/* background-image: url(bkgd.jpg); */
 	background-repeat: repeat-x;
 	font-family: 'Open Sans', Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
 }
 .wrapper{ max-width: 1040px; margin: 0 auto; background-color: #fff;}

/* Text styles */
p a,
p a:link,
p a:active,
p a:visited{ 
	color: #263E6E;
}
div a,
div a:link,
div a:active,
div a:visited{ 
	color: #263E6E;
}
.button { color: rgb(255,255,255)!important; }
.tiny.button { color: rgb(255,255,255)!important; }
.center{ text-align: center;}
.centered{ margin: 0 auto;}
.clear{ clear: both;}

header {
	padding: 1em;
	min-height: 100px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logo-wrapper {
	padding-top: 50px;
	margin-bottom: -50px;
	font-size: 20px;
	color: #8F8F8F;
}
.logo-book{
	max-width: 32px;
}
.header-controls{
	float: right;
}
.main-content{
	background-color: #f6f6f6;
	padding: 1em;
	min-height: 80%;
}


.pagination-info{
	margin-bottom: 1em;
}
.top-article-count{ float: left; }
.top-article-pagination{ float: right;}
.article-meta{ color: #777; line-height: 1.3em;}
.article-body{
	margin: 1em 0 1em;
}
.article-sidebar{
	line-height: 3rem;
	color: #8D8D8D;
}
.article-list-icon{ margin-top: 50%;}
.article-header-count-badge{
	margin-top: -20px;
	display: inline-table;
}



.article-form-meta{ margin-top: 5em !important;}
.serif{ font-family: 'Georgia', Times, serif;}



.sidebar-icon{
	max-width: 28px;
}
.global-icon{
	max-width: 16px;
}
.panel{background-color: #fff;}




.search-result-wrapper{
	background-color: #fff;
	padding: 1em;
}
.search-result {
	list-style: none;
	clear: both;
}
.search-result h5{
	margin-bottom: -3px;
}
.search-result-date{
	color: green;
}
.search-result-author {
	font-style: italic;
	color: #FF5C00;
}


.footer-wrapper{
	background-color: #fff;
	padding: 1em;
	clear: both;
}
.global-footer{
	padding: 30px 10px;
	background-color: #E4E5EA;
	color: #A0A0A0;
	font-size: 90%;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	border-top: 1px solid #C5C5C5;
}


@media screen 
and (min-width : 320px) 
and (max-width : 550px) {
	.logo-wrapper {
		padding-top: 0px;
		margin-bottom: 15px;
		font-size: 14px;
		color: #8F8F8F;
	}
}